html 
{ 
    scroll-behavior: smooth;
} 

body
{
    background-color: #ff0000;
    font-family: 'Open Sans', sans-serif;
}

h1
{
    font-size: 80px;
}

h3
{
    font-size: 50px;
}

p
{
    font-size: 25px;
}

.jumbotron
{
    background-color:  #66ffff;

    display: flex;
    align-items: center;
}

.mainContainerFluid
{
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}

.imageContainerFluid
{
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
}

.force-to-bottom
{
    position:absolute;
    bottom: 5%;
    width: 100%;
}

.imageMaxSize
{
    max-width: 90%;
    max-height: 90%
}

.padding-top
{
    padding-top: 1%;
}

.unpaddedPage
{
    background-color:  #ffff33;

    height: 100vh;
}

.paddedPage
{
    background-color:  hotpink;

    height: 100vh;
    padding-top: 5%;
}

.marginImage
{
    margin-top: 5%;
}

#landingPage
{
    background-color:  #33ff33;

    height: 80vh;
    margin-top: 10%;
}

#mainNavbar
{
    font-size: 1.5rem;
    font-weight: 100;
    background-color: #6a6a6a;
}

#mainNavbar .navbar-brand
{
    color: #ea1c2c;
}

#mainNavbar .nav-link
{
    color: white;
}

#mainNavbar .nav-link:hover
{
    color: #ea1c2c;
}
